@media (prefers-color-scheme: dark) {
    .primaryPalete {
      background-color: #718792 !important;
    }
  
    .secondaryPalete {
      color: #fafafa !important;
    }
  
    .tertiaryPalete {
      color: #64a3ff !important;
    }
  }

  *{
      margin: 0;
      padding:0;
      box-sizing: border-box;
  }

  .background{
      width: 100%;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: url('../../../../public/img/fogpicture.jpg');
    
  }
  
  .primaryText {
    color: #fafafa !important;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 10px;
  }
  
  .secondaryText {
    color: #455a64 !important;

  }
  
  .importantText {
    color: #0075eb!important;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 10px;  
    
  }

 
  