
.text{
    
    width: 100%;
    min-height: 300px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;  
}
.blueText {
    color: #0075eb!important;
    font-weight: bold;
  }
