@media (prefers-color-scheme: dark) {
  .primaryPalete {
    background-color: #1c313a !important;
  }

  .secondaryPalete {
    color: #fafafa !important;
  }

  .tertiaryPalete {
    color: #64a3ff !important;
  }
}


.primaryPalete {
  background-color: #fafafa !important;
}

.secondaryPalete {
  color: #455a64 !important;
}

.tertiaryPalete {
  color: #0075eb !important;
}

.button {
  padding: 2px 2px;
}
